html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.wrapper {
  width: 1024px;
  margin: auto;
  padding: 20px 0px 20px 0px;
}

nav {
  background-color: #17313e;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0, 5);
  position: sticky;
  top: 0;
  z-index: 100;
}

nav > .wrapper {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
}

.menu {
  width: 50%;
}

.menu > ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul > li > a {
  text-decoration: none;
  color: white;
}

.name {
  display: flex;
  color: white;
  justify-content: space-between;
}

.menu > ul > li > a:hover {
  padding: 5px 5px;
  background-color: #00809d;
  transition: all 0.2s ease-in-out;
}
